@import url('http://fonts.googleapis.com/css?family=Cookie');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

*{margin:0px;padding:0px;}
body{
  /* background-color:#efe; */
  /* background-color:#1E90FF; */
  /* background-color:#ffe; */
  background-image: url("HELLSICHT BLACK.jpg");
  background-repeat: no-repeat;
  /* background-size: 800px 600px; */
  background-size: cover;
}
.navigation {
  background-color:#fff;
  /* background-color: #1E90FF; */
  width:100%;
  height:50px;
  box-shadow: 0px 1px 1px #c8c8c8;
  line-height:52px;
  color:#62bb49;
}
.container {
  /* width:760px; */
  width:860px;
  margin:auto;
  position: relative;
}
.title {
  background-image: url("HELLSICHT_LOGO.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 180px 60px; */
  /* background-position: top left; */
  font-family:'Cookie';
  font-size:32px;
  cursor: pointer;
}
.search-control{
  font-family:'Open Sans';
  position: absolute;
  right:0;
  cursor: pointer;
  /* color: #bbb; */
  color: #000000;
}
.search-control:hover {color:#686868;}
.fa-home {
  /* background-image: url("HELLSICHT_LOGO.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  font-size:22px;
}
.search-box {
  width:100%;
  position: relative;
  top:48px;
  height:48px;
  transition:opacity 0.4s linear ,visibility 0.4s linear 0s;
}
.search-box > #search {
  width:640px;
  height:48px;
  border-radius:6px 0px 0px 6px;
  box-shadow:none;
  box-shadow: 1px 2px 2px #ddd; 
}
input , input:focus {
  border:none;
  box-shadow:none;
  background-color:none;
  outline: 0;
  font-size:16px;
  font-family:'Open Sans';
  color:#bbb;
  padding:0px 12px;
}
.also {
  font-family:'fontawesome';
  color:#bbb;
  display:inline-block;
  background-color:#fff;
  height:48px;
  width:48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-left:1px solid #ddd;
  position: absolute;
  top:0;
  box-shadow: 1px 2px 2px #ddd;
}
.search-link:hover {color:#686868;}
.setting {
  border-radius:0px 6px 6px 0px;
  margin-left:48px;
  font-size:18px;
}
.setting:hover {color:#686868;}
